<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='edited.css') }}">
    <title>VJTI-Home</title>
</head>
<body>
    <div class="container-fluid topnav">
        <!--<h2>Veermata Jijabai Technological Institute</h2>-->
        <div class="row">
            <div class="col-lg-12 dbox">
                <ul>
		            <li><a href="{{ url_for('main.index') }}"><i class="fas fa-house-user"></i>  Home</a></li>
                    <li><a href="#"><i class="fas fa-university"></i>  My Classroom</a></li>
                    <li><a href="#"><i class="fas fa-link"></i>  Departments</a></li>
                    <li><a href="#"><i class="fas fa-stream"></i>  News</a></li>
                    <li><a href="#"><i class="fas fa-calendar-week"></i>  Calendar</a></li>
                    <li><a href="#"><i class="fas fa-user-graduate"></i>  Student</a></li>
                    <li><a href="#"><i class="fas fa-sliders-h"></i>  Events</a></li>
                    <li><a href="{{ url_for('main.home') }}"><i class="far fa-envelope"></i>  Blogs</a></li>
                    <li><a href="#"><i class="fas fa-list-ol"></i>  Lost & Found</a></li>
                    <li><a href="{{ url_for('users.account') }}"><i class="fas fa-user"></i>  My Account</a></li>
                </ul>
            </div>
        </div>
        <!--<button id="info" value="i">i</button>-->
    </div>

    <!--<div class="container home_body">
        <h1>VJTI</h1>
        <h3>Veermata Jijabai Technological Institute(Mumbai)<br>वीरमाता  जिजाबाई  तंत्रज्ञान  संस्था ( मुंबई )</h3>
    </div>-->
    <img href="{{ url_for('static', filename='vjti_large.jpg') }}" id="mainimg">
    <div class="container-float home_text">
        <div class="row">
            <div class="col-sm-2 dbox"><img href="{{ url_for('static', filename='vjtilogo.jpg') }}" id="logoimg"></div>
            <div class="col-sm-7 text">
                <p>VJTI Mumbai has pioneered India's Engineering and Technology education, research and training since 1887 as Victoria Jubilee Technical Institute. Pre-independence, VJTI had been instrumental in driving Industry 2.0 throughout united India. Post-independence, VJTI played a pivotal role in setting up IITs and RECs of India and strengthened engineering and technology excellence of country through Industry 3.0. In 1997, VJTI name is changed to Veermata Jijabai Technological Institute to honor mother of Chhatrapati Shivaji Maharaj.</p>
                <p>Located in South Mumbai, VJTI is an autonomous institution of repute, owned by Maharashtra State Government.</p>
            </div>
            <div class="col-sm-3 notifications">
                <h3>Notifications</h3>
            </div>
        </div>
    </div>
    <div class="container footer">
            <div id="footertop">
                <div id="footerlink">
                    <ul class="menu">
                        <li class="item-138"><a href="#">RTI</a></li><li class="item-139"><a href="#">Location Roadmap</a></li><li class="item-141"><a href="#">Contact Us</a></li><li class="item-140"><a href="/#">Sitemap</a></li><li class="item-177"><a href="#">Disclaimer</a></li>
                        </ul>
                </div>
            </div>
            <div id="footerbottom">
                <div id="leftfooter">
                    <div class="custom">
                        <p><span style="color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: normal;">Copyright © Team Ultimatrix. All Rights Reserved.
                            </span></p>
                    </div>
                </div>
                <div id="rightfooter">
                    <div class="custom">
                        <p>Website Developed by Team Ultimatrix</p>
                    </div>
                </div>
            </div>   
    </div>

    <script href="{{ url_for('static', filename='jquery.js') }}"></script>
    <script href="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
{#    <script src="https://kit.fontawesome.com/a076d05399.js"></script>#}
</body>
</html>