@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  z-index: 1;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #fafafa;
  block-size: 100%;

}


.headsec {
  position: absolute;
  float: left;
  margin: 20% 40%;
  text-shadow: aqua;
  background-color: rgba(26, 12, 12, 0.24);
  text-align: justify  center;
  font-size: 400%;
  color: #fafafa;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-blend-mode: overlay;
  z-index: 1;
}

#mainimg{
  clip-path: polygon(100% 0, 100% 60%, 60% 100%, 0 58%, 0 0);
  box-shadow: 0 0 11px 9px black;
  width: 100%;
  z-index: initial;
}

.sidebar {
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #eefaff;
  transition: all .3s ease;
  z-index: 1;
}
.sidebar header {
  font-size: 22px;
  color: rgb(22, 1, 1);
  line-height: 70px;
  text-align: center;
  background: #ecf0f3;
  user-select: none;
}
.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: rgb(26, 1, 1);
  padding-left: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
  transition: .4s;
}
ul li:hover a{
  padding-left: 50px;
}
.sidebar ul a i{
  margin-right: 16px;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  background: #467991;
  border-radius: 3px;
  cursor: pointer;
}
label #btn{
  left: 40px;
  top: 25px;
  font-size: 35px;
  color: white;
  padding: 6px 12px;
  transition: all .5s;
}
label #cancel{
  z-index: 1111;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: #b1e0f8;
  padding: 4px 9px;
  transition: all .5s ease;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel{
  left: 195px;
}
#check:checked ~ section{
  margin-left: 250px;
}
section{
  background: url(bg.jpeg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: all .3s;
  z-index: 1;
}
